<!DOCTYPE html>
<html id="ng-app" ng-app="app"> <!-- id="ng-app" IE<8 -->

    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>画廊</title>
        <!-- Fix for old browsers -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/console-sham.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <!--<script src="../bower_components/angular/angular.js"></script>-->
        <script src="/js/angular.min.js"></script>
        <script src="/js/galleryControl2.js"></script>
      	<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/gallery2.css" />
        <style>
            .my-drop-zone { border: dotted 3px lightgray; }
            .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
            .another-file-over-class { border: dotted 3px green; }

            html, body { height: 100%; }

            canvas {
                background-color: #f3f3f3;
                -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
                -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
                box-shadow: 3px 3px 3px 0 #e3e3e3;
                border: 1px solid #c3c3c3;
                height: 100px;
                margin: 6px 0 0 6px;
            	}
        </style>
    </head>

    <body ng-controller="AppController" nv-file-drop="" uploader="uploader">
		<div class="container">
            <div class="row">
            	<div class="col-xs-12" id="galleriesTab">
					<p>{{pageConfig.title}}</p>
					<ul class="nav nav-tabs">
						<li style="display:inline" ng-repeat="x in albumList" style="background-color:#31B0D5;" id="{{x.albumTabId}}" class="{{x.albumClass}}"><a ng-click="refresh(x.albumName)">{{x.albumName}}</a></li>
					</ul>
				</div>
				<div class="col-xs-12 imgWrap" id="galleriesContent" ng-repeat="y in images" style="width:320px;margin-left:5px">
					<div class="mask"></div>
					<img  class="myImg" src="{{y.imageURL}}" ng-click="modalDisplay(y)"></img>						
				</div>
  		 	</div>
       </div>
      	<div>
       	</div>
		<div id="myModal" class="modal" ng-style={display:modalShow}>
		  <span class="close" ng-click="modalHide()">×</span>
		  <img class="modal-content" id="modalImg" ng-src="{{modalSrc}}" alt="{{modalAlt}}">
		  <div id="caption">{{displayAlt}}</div>
		</div>
    </body>
</html>
